asgiref==3.12.1
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.4.9
cloudinary==1.46.2
dj3-cloudinary-storage==0.0.6
Django==6.1
gunicorn==23.0.0
idna==3.18
packaging==26.3
pillow==11.0.0
python-decouple==3.8
RapidFuzz==3.14.5
requests==2.34.2
six==1.17.0
soupsieve==2.9.2
sqlparse==0.5.5
syncedlyrics==1.0.1
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.8.2
